main{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}
/* TABELA DO CARRINHO */
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
 
th {
    background-color: rgb(122, 122, 121);
    font-weight: bold;
}
 
/* INPUT */
input.quantidade {
    width: 50px;
    padding: 5px;
    text-align: center;
}
 
/* BOTÃO REMOVER */
button.remover-produto {
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
 
/* TOTAL NO FINAL */
.total-final{
    text-align: right;
    margin-top: 20px;
}
.total-final h3 {
    color: darkmagenta;
}
#total-final {
    color: darkmagenta;
}
button.remover-produto:hover {
    background-color: #ffffff;
}